<div class="collection-card--snippet hover-scale">
  <a
    class="mask-link"
    href="{{ collection.url | default: "#" }}" {{ block.shopify_attributes }}
    title="{{ 'collections.general.link_title' | t: title: collection.title }}"
  >
  </a>
  <div class="collection-card__image match-height" data-mh="collection-card-image">
    {% if collection.image != blank or collection.products.first != blank %}
      {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
      <div class="collection-hero__image bg-image lazyload js"
           data-bgset="{% include 'responsive-bg-image', image: image_object %}"
           data-sizes="auto"
           data-expand="-1"
           data-parent-fit="cover"
           style="background-image: url({{ image_object | img_url: '500x500' }});"
      ></div>
    {% else %}
      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
      {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
    {% endif %}
  </div>
  <div class="collection-card__meta">
    {%- assign default_label = 'homepage.onboarding.collection_title' | t -%}
    <div class="text-title collection-title text-ellipsis">
      {{ collection.title | default: default_label }}
    </div>
    {% if collection.description != blank %}
      <div class="collection-desc text-ellipsis text-muted text-small">
        {{ collection.description | strip_html | truncatewords: 30 }}
      </div>
    {% endif %}
  </div>
</div>
