{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}
<div class="password--tpl">
  {% section 'password-content' %}

  <div id="PasswordLoginModal" style="display: none;">
    <h4>{{ 'general.password_page.login_form_heading' | t }}</h4>
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <label for="password">{{ 'general.password_page.login_form_password_label' | t }}</label>
      <input
        type="password"
        name="password"
        id="Password"
        class="large"
        placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
        autofocus
      >
      <button type="submit" name="commit" class="btn btn-primary large">
        &nbsp;&nbsp;&nbsp;{{ 'general.password_page.login_form_submit' | t }}&nbsp;&nbsp;&nbsp;
      </button>
    {% endform %}
    <br />
    <p class="hide">{{ 'general.password_page.admin_link_html' | t }}</p>
  </div>
</div>
