{%- comment -%}
  It creates a style tag for product quantity selection.

  Accepts:
  - collection: { Object } The collection Object.
  - current_tags: { Object } Current tags (https://help.shopify.com/themes/liquid/objects/current-tags);
  - wrapper_class: { String} The wrapper Class.

  Usage:
  In your liquid template file, copy the following line
  - {% include 'product-tag-filter' with option wrapper_class: "wrapper-css-class" %}
{%- endcomment -%}

{%- assign unshown_tags = 'energy-star, 5-year-warranty' | split: ', ' -%}
{%- assign no_filter_text = 'collections.filters.no_filter' | t | append: ' --' | prepend: '-- ' -%}

{% if current_tags == blank %}
  {% assign currentSelectedText = no_filter_text %}
{% else %}
  {% assign currentSelectedText = current_tags %}
{% endif %}

{% capture dropdown_active %}
  <i class="iconfont icon-check-mark-empty icon-active"></i>
{% endcapture %}

<div
  class="product-tag-filter--snippet dropdown-menu product-filter{% if wrapper_class != blank %} {{ wrapper_class }}{% endif %}"
  aria-haspopup="true"
  aria-expanded="false"
>
  <label class="text-uppercase">
    Tag:
  </label>
  <a
    role="button"
    href="javascript:void(0)"
    title="{{ currentSelectedText }}"
    class="dropdown-toggler"
  >
    <span class="dropdown-caption">
      {{ currentSelectedText }}
    </span>
    <i class="iconfont icon-arrow-down icon-dropdown-arrow text-small"></i>
  </a>
  <div class="dropdown-content__wrapper animated fadeInUpSmall" id="TagsFilterDropdown">
    <div class="dropdown-content-arrow"></div>
    <div class="dropdown-content">
      <ul class="dropdown-list">
        {% if current_tags == blank %}
          <li class="dropdown-item active">
            <span>
              {{ currentSelectedText }}
            </span>
            {{ dropdown_active }}
          </li>
        {% else %}
          <li class="dropdown-item">
            <a href="/collections/{{ collection.handle }}">
              {{ no_filter_text }}
            </a>
          </li>
        {% endif %}
        {% if collection.all_tags %}
          {% for tag in collection.all_tags %}
            {%- assign tag_handle = tag | handleize -%}
            {% unless unshown_tags contains tag_handle %}
            {% if current_tags contains tag %}
              <li class="dropdown-item active">
                {% case tag_handle %}
                  {% when '3000k' %}
                    <span>Warm White (3000K)</span>
                  {% when '4000k' %}
                    <span>Cool White (4000K)</span>
                  {% when '5000k' %}
                    <span>Day Light (5000K)</span>
                {% endcase %}
                {{ dropdown_active }}
              </li>
            {% else %}
              <li class="dropdown-item">
                {{ tag | link_to_tag: tag }}
              </li>
            {% endif %}
            {% endunless %}
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
</div>
