<div class="password-main text-center" role="main" data-section-id="{{ section.id }}" data-section-type="password-content-section">
  {% comment %}
    Opening soon text
  {% endcomment %}
  <h2 class="password-hero h1">
    {{ section.settings.header | escape }}
  </h2>

  {% comment %}
    Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
  {% endcomment %}
  {% unless shop.password_message == blank %}
    <div class="password-message">
      {{ shop.password_message }}
    </div>
  {% endunless %}

  {% if section.settings.newsletter_enable %}
    {% comment %}
      Signup form
    {% endcomment %}
    <div class="password-signup-form">
      {% form 'customer', class: "password-customer-form" %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <div class="form-success">
            <ul class="text-large">
              <li>{{ 'general.password_page.signup_form_success' | t }}</li>
            </ul>
          </div>
        {% else %}
          <p class="password-signup-form__heading h4">
            {{ section.settings.newsletter_form_heading | escape }}
          </p>
          {% if section.settings.newsletter_form_subheading != blank %}
            <div class="rte">{{ section.settings.newsletter_form_subheading }}</div>
          {% endif %}
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <label for="email" class="label--hidden">
            {{ 'general.password_page.signup_form_email_label' | t }}
          </label>
          <div class="input-group">
            <input
              type="email"
              name="contact[email]"
              id="Email"
              class="input-group__field large"
              placeholder="{{ section.settings.newsletter_placeholder | escape }}"
            >
            <span class="input-group__btn">
              <button type="submit" name="commit" class="btn btn-accent large">
                <span>{{ section.settings.newsletter_button_text | escape }}</span>
              </button>
            </span>
          </div>
        {% endif %}
      {% endform %}
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Content",
    "class": "password__content--section password-page-section",
    "settings": [ {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Coming Soon"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_form_heading",
        "label": "Newsletter form heading",
        "default": "Find out when we open",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      },
      {
        "type": "richtext",
        "id": "newsletter_form_subheading",
        "label": "Newsletter form subheading",
        "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Your email"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Submit"
      },
      {
        "type": "header",
        "content": "Social sharing"
      },
      {
        "type": "text",
        "id": "social_message",
        "label": "Social sharing buttons heading",
        "default": "Spread the word"
      }
    ]
  }
{% endschema %}
