<div class="customers-reset-password--tpl container">
  <h1 class="section-title">{{ 'customer.reset_password.title' | t }}</h1>
  {% form 'reset_customer_password', class: 'basic-form reset-pwd-form' %}
    <div class="form-info">{{ 'customer.reset_password.subtext' | t: email: email }}</div>
    {{ form.errors | default_errors }}
    <div class="form-inner">
      <div class="form-item">
        <label for="ResetPassword" class="label-hidden">
          {{ 'customer.reset_password.password' | t }}
        </label>
        <input type="password"
          name="customer[password]"
          id="ResetPassword"
          class="large{% if form.errors contains 'password' %} input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password' | t }}"
        >
      </div>

      <div class="form-item">
        <label for="PasswordConfirmation" class="label-hidden">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
        <input type="password"
          name="customer[password_confirmation]"
          id="PasswordConfirmation"
          class="large{% if form.errors contains 'password_confirmation' %} input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
        >
      </div>
      <div class="form-item">
        <input type="submit" class="button btn btn-primary large" value="{{ 'customer.reset_password.submit' | t }}">
      </div>
    </div>
  {% endform %}
</div>
