<div class="password-header" role="banner">
  <p class="text-right small--text-center password-link text-uppercase">
    <a
      href="#PasswordLoginModal"
      data-fancybox
      class="js-modal-open-login-modal action-link"
    >
      <i class="iconfont icon-solid-locked"></i>
      {{ 'general.password_page.password_link' | t }}
      <span class="icon icon-arrow-right action-link__icon" aria-hidden="true"></span>
    </a>
  </p>
  <div class="password-logo">
    {% if section.settings.logo %}
      <a href="/" itemprop="url" class="site-header__logo-image">
        {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
        <img src="{{ section.settings.logo | img_url: image_size }}"
             srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
             alt="{{ section.settings.logo.alt | default: shop.name }}"
             itemprop="logo">
      </a>
    {% else %}
      {% include 'icon-logo' %}
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "class": "password__header--section password-page-section",
    "settings": [{
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      }
    ]
  }
{% endschema %}
